[flake8]
max-line-length = 120
extend-ignore =
                F401
                # F401: imported but not used
                A003
                # A003 use in custom command
                F841
                # use local variable 'users' in custom command
exclude = migrations,.git, __pycache__,venv, tests.py,tests # venv for windows and linux manjaro
